image: python:3.10

variablesavailable:
  script:
    - export

lint:
  script:
    - pip install -r requirements-dev.txt
    - pip install -e .
    - python -m pylint src/pemjh --exit-zero --output-format=parseable

flake8:
  script:
    - pip install -r requirements-dev.txt
    - flake8 --exit-zero

test:
  script:
    - pip install -r requirements-dev.txt
    - pip install -e .
    - sh -c "pytest --junit-xml=reports/pytest.xml || if [ $? = 1 ]; then exit 0; fi"
    - coverage xml --include src/**
  artifacts:
    paths:
      - reports/pytest.xml
      - coverage.xml
    reports:      
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
      junit: reports/pytest.xml

#toxbuild:
#    script:
#      - pip install -U tox
#      - pip --version
#      - tox --version
#      - tox
