#before_script:
#  - docker info

image: docker

services:
  - docker:dind

variablesavailable:
  script:
    - export

lint:
  script:
    - docker info
    - docker build -t pemjh:lint --target lint .
    - docker run --rm -t -v ${PWD}:/usr/src/app pemjh:lint

flake8:
  script:
    - docker info
    - docker build -t pemjh:flake8 --target flake8 .
    - docker run --rm -t -v ${PWD}:/usr/src/app pemjh:flake8

test:
  script:
    - docker info
    - docker build -t pemjh:test --target test .
    - docker run --rm -t -v ${PWD}:/usr/src/app pemjh:test

#image: python:3.8.1

#nothing:
#  script:
#    - pip --version
  
# This is a sample build configuration for Python.
# Check our guides at https://confluence.atlassian.com/x/VYk8Lw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
#image: python:3.8.1

#toxbuild:
#    script:
#      - pip install -U tox
#      - pip --version
#      - tox --version
#      - tox