# Temp editor files
/**/*.*~
/**/*~

# IDE files
/.vscode
/.idea

# Build files
/**/__pycache__/
/.coverage
/**/.coverage
/.eggs/
/.tox/
/**/*.egg-info/
/**/*.pyc
/.pytest_cache
/coverage.xml
/reports/**/*