name: Run test and lint on challenge code
on:
  push:
    branches: [ ]
  pull_request:
    branches: [ main ]

jobs:
  pylint:
    name: Run tox test and lint
    runs-on: ubuntu-latest
    container:
      image: python:3.12
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Install tools
        run: |
             pip install -U tox
             pip --version
             tox --version

      - name: Run Tox
        run: |
             tox run-parallel | tee log.txt

      - id: collect_score
        name: Collect lint score
        run: |
             echo "score=$( cat log.txt | grep -oP '^Your code has been rated at \K\d+\.\d+' )"  >> "$GITHUB_OUTPUT"

      - name: "Score: ${{ steps.collect_score.outputs.score }}"
        env:
          SCORE: ${{ steps.collect_score.outputs.score }}
        run: |
             echo "score=${SCORE}"

      - name: Generate Coverage
        run: |
             coverage html
             coverage xml

      - id: collect_coverage
        name: Collect coverage number
        run: |
             echo "coverage=$( cat log.txt | grep -oP '^TOTAL\s+\d+\s+\d+\s+\d+\s+\d+\s+\K\d+\%$' )"  >> "$GITHUB_OUTPUT"

      - name: "Code Coverage: ${{ steps.collect_coverage.outputs.coverage }}"
        env:
          COVERAGE: ${{ steps.collect_coverage.outputs.coverage }}
        run: |
             echo "coverage=${COVERAGE}"
